@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background: url(./images/bg-header-mobile.png) no-repeat top;
}

main {
    margin: 10vh auto;
    width: 90%;
}

section,
header {
    margin-bottom: 10vh;
}

img {
    max-width: 100%;
    display: block;
    margin: 3rem auto;
}

button {
    display: block;
    border-radius: 25px;
    padding: 10px 90px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

.btn-green {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;
    background-color: hsl(171, 66%, 44%);
}

.btn-purple {
    color: #fff;
    background-color: hsl(233, 100%, 69%);
}

.heading,
.text,
.card__heading,
.card__text,
.title {
    text-align: center;
}

.text,
.card__text {
    opacity: 0.5;
}

.heading {
    font-size: 1.9rem;
    margin-bottom: 2rem;
    color: hsl(210, 10%, 33%);
}

.text__block {
    margin-bottom: 1.5rem;
}

.text__block .title {
    margin-bottom: 1rem;
}

.card__heading,
.title {
    margin-bottom: 2rem;
    color: hsl(210, 10%, 33%);
}

.card {
    margin-bottom: 5vh;
}

footer {
    background-color: hsla(201, 11%, 66%, 0.2);
    padding: 1rem 0;
}

footer img {
    height: 2.5rem;
    width: 2.5rem;
}

footer .icons {
    display: flex;
    width: 75%;
    margin: auto auto;
}

.icons img {
    width: 2rem;
    height: 2rem;
}

footer ul,
li+li {
    margin: 10px auto;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

@media (min-width:600px) {
    html {
        background-image: url(./images/bg-header-desktop.png);
        line-height: 1.5;
    }
    .btns {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .btn {
        display: inline;
        align-self: center;
        padding: 10px 20px;
        margin: 0;
    }
    .btn-green {
        margin-right: 1rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .two {
        display: flex;
    }
    .text_card {
        align-self: center;
        width: 50%;
        padding: 0 100px;
    }
    .text__block .title,
    .text__block .text {
        text-align: left;
    }
    .six,
    .five {
        display: flex;
    }
    .five {
        align-items: baseline;
    }
    .card {
        width: 33%;
        margin-bottom: 0;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .margin {
        margin-right: 20rem;
    }
    footer .icons {
        width: 20%;
        margin: 0;
        justify-content: space-evenly;
        margin-right: 2rem;
    }
    .icons img {
        margin: 0;
    }
}